<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">Links</button>
  <mat-menu #menu="matMenu">
  <a href="https://github.com/tidusongyd666/Kev.OpenWeather.APP" target="_blank" mat-menu-item>APP Source Code</a>
  <a href="https://github.com/tidusongyd666/Kev.OpenWeather.API" target="_blank" mat-menu-item>API Source Code</a>
  <a href="https://api-kev-weather-ae66.azurewebsites.net/swagger/index.html" target="_blank" mat-menu-item>Swagger UI</a>
</mat-menu>
</mat-toolbar>